body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70c5ce; /* Color de fondo del cielo */
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background: #70c5ce;
}
